body{
  background-color: lightgrey;
  font-family: sans-serif;
}

.container{
  margin: auto;
  width: 800px;
  padding: 30px;
}

ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 1s;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child{
  opacity:1;
}

ul.slider li:target{
  opacity:1;
}
 
.menu{
  text-align:center;
  margin:20px;
}

.menu li{
  display:inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color:grey;
  padding: 20px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 100%;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}
.wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: white;
 }
 
.solid {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: white;
} 





   
